

@media (max-width: 1399px) {
    .header__top__inner p {
        font-size: 14px;
    }
    body {
        font-size: 14px;
    }
    .header__top {
        padding: 13px;
    }
    .header__top__inner {
        gap: 30px;
    }
    .logo h2 {
        font-size: 27px;
        margin: 0 0 5px;
    }
    .logo p {
        font-size: 10px;
    }
    .default-button {
        min-height: 45px;
        padding: 4px 25px;
        font-size: 16px;
        gap: 10px;
        border-radius: 4px;
    }
    .default-button.btn-lg {
        min-height: 40px;
        font-size: 13px;
    }
    .default-button .arr-r {
        font-size: 18px;
    }
    .header__main__outer {
        padding: 20px 0;
    }

    
    .h2 {
        font-size: 35px;
        margin: 0 0 25px;
    }
    .h4 {
        font-size: 17.5px;
    }
    .hero-content-glow {
        top: -90px;
        left: -20px;
        width: 640px;
    }
    .hero__image-glow {
        width: 900px;
        top: -80px;
    }
    .hero-section {
        padding: 50px 0 20px;
    }

    .psx i {
        font-size: 17px;
    }
    .psx {
        padding: 11px 25px;
        gap: 11px;
        border-radius: 4px;
    }

    .footer-section__inner p {
        font-size: 14px;
    }
    .footer-section {
        padding: 10px;
    }
}


@media (max-width: 1199px) {
 
}


@media (max-width: 991px) {
    .hero__row {
        --bs-gutter-x: 40px;
    }
    .hero-section {
        padding: 50px 0 50px;
    }
    .hero__image .psx {
        margin: 0 auto;
    }
    .hero-content .cont-blk {
        align-items: center;
        text-align: center;
    }
    .hero-content {
        padding-right: 12px;
    }
    .h2 {
        font-size: 30px;
        margin: 0 0 22px;
    }
    .h4 {
        font-size: 16px;
    }

    .footer-section__inner {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }
    
}


@media (max-width: 768px) {
    .header__top__inner {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}


@media (max-width: 575px) {
    .default-button {
        min-height: 40px;
        padding: 3px 18px;
        font-size: 14px;
        gap: 8px;
    }

    .hero-content .bottom-buttons {
        margin: 20px 0 0;
    }
}


@media (max-width: 370px) {
    .h2 {
        font-size: 26px;
    }
}
