/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Mako&family=Montserrat:wght@300;400;500;600;700;800&display=swap');
:root {
  --theme__color1: #D91A97;
  --background: #121328;
  --montserrat: 'Montserrat', sans-serif;
  --mako: 'Mako', sans-serif;
}
*,::before,::after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--background);
  color: #fff;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--montserrat);
}
a, a:active, a:focus, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  margin-bottom: 15px;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1399px) and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1280px;
  }
}


/* header */
.header-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header-in {

}

.header__top {
  padding: 13px;
  background: #2A2B3E;
}
.header__top__inner {
  display: flex;
  justify-content: center;
  gap: 37px;
}
.header__top__inner p {
  font-size: 16px;
  margin: 0;
  font-weight: 400;
}

.header__main__outer {
  padding: 15px 0;
}
.header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
} 
.header-logo {
  width: 175px;
  display: block;
}
.header-logo img {

}
.hr-button {

}
/* header-end */



/* ---offcanvas-css--- */
.offcanvas-open {
  font-size: 22px;
  transition: 0.3s;
}
.offcanvas-open:hover {
  color: #97A3AE;
}
.offcanvas-close {
  color: var(--theme__color1);
  position: absolute;
  transition: 0.3s;
  right: 25px;
  top: 25px;
}
.offcanvas-close:hover {
  color: #97A3AE;
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-105%);
  transition: 0.3s;
}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
  max-width: 250px;
  min-width: 200px;
  z-index: 5;
  position: relative;
  background: #d5dce2;
  height: 100%;
  padding: 50px 20px 40px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}
.offcanvas-menu ul li a {
  display: block;
  text-align: center;
  font-size: 16px;
  color: var(--theme__color1);
  padding: 10px;
}
.dropdown-menu-custom ul {
  background: #fff;
  padding: 20px 0;
}
.dropdown-menu-custom ul li a {
  color: #97A3AE;
}
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.178);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/

/* --preloader-- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--theme__color1);
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* --preloader-end-- */


/* ---common--- */
.h2 {
  font-size: 42px;
  margin: 0 0 35px;
  line-height: 1.4;
}
.h4 {
  font-size: 20px;
  line-height: 1.75;
  font-weight: 400;
  color: #FFFFFFB2;
}
.cont-blk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cont-blk--center {
  align-items: center;
  text-align: center;
}
/* ---common---end */


/* ---hero-section--- */
.hero-section {
  padding: 70px 0 30px;
}
.hero-section__inner {

}

.hero__row {
  --bs-gutter-x: 12px;
  --bs-gutter-y: var(--bs-gutter-x);
  align-items: center;
}
.hero-content {
  padding-right: 70px;
  position: relative;
  z-index: 1;
}
.hero-content-glow {
  position: absolute;
  top: -200px;
  left: -30px;
  z-index: -1;
  max-width: initial;
}
.hero-content .cont-blk {

}
.hero-content .bottom-buttons {
  margin: 33px 0 0;
}
.hero__image {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 1;
}
.hero__image .img {
	--ex-width:3%;
	width: calc(100% + var(--ex-width));
	margin-left: calc(var(--ex-width) * -1);
	max-width: initial;
}
.hero__image-glow {
  width: 1194px;
  position: absolute;
  top: -130px;
  left: 50%;
  transform: translate(-50%,0);
  max-width: initial;
  z-index: -1;
}
.hero__image .psx {
  margin-left: auto;
}
.psx {
  padding: 15px 36px;
  gap: 11px;
  background: rgba(233, 168, 0, 0.1);
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  font-family: var(--mako);
}
.psx i {
  font-size: 20px;
  color: #E9A800;
}
/* ---hero-section---end */


/* ---footer-section--- */
.footer-section {
  padding: 13px;
  background: #2A2B3E;
  margin-top: auto;
}
.footer-section__inner {
  gap: 15px;
  display: flex;
  justify-content: space-between;
}
.footer-section__inner p {
  font-size: 16px;
  margin: 0;
  font-weight: 400;
}
/* ---footer-section---end */